body{
    margin: 0;
}



.up
{
    display: flex;

    flex-direction: row;
    margin:0 auto;
    width:900px


}

.box
{
    background-color: red;
    border: 2px solid black;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-size: 30px;
    color: white;

}

.main-container
{
    width: 900px;
    margin: auto;

}
.cat-box
{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background-color: blue;
    float: left;
    height: 500px;
}

.dog-box
{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background-color: green;
    float: right;
    height: 500px;

}

.pet-img
{
    width: 100%;
    max-width: 600px;
    height: 370px;
}

